<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="new_catagory sbilabhide">
        <div class="top_category">
            <div class="cat-list">
                <a href="/order-medicine"> 
                    <span class="cat_img">
                     <img src="/assets/gloryweb/images/icons/Wellnessnew.svg"> 
                    </span> <span class="content-txt">
                        <span class="heading">Order Medicine</span>
                        <span class="save_text"> Save Upto 25% off</span>
                    </span>
                </a>
            </div>
            <div class="cat-list"><a href=" https://www.netmeds.com/beauty"> <span class="cat_img"> <img
                            src="/assets/gloryweb/images/icons/Beautynew.svg"> </span><span class="content-txt"> <span
                            class="heading">Beauty</span><span class="save_text">Save Upto 40% off</span> </span> </a>
            </div>
            <div class="cat-list"><a href=" https://www.netmeds.com/wellness"> <span class="cat_img"> <img
                            src="/assets/gloryweb/images/icons/ordermedicinnew.svg"> </span><span class="content-txt">
                        <span class="heading">Wellness</span><span class="save_text">Upto 60% off</span> </span> </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</body>

</html>