.clickable-text {
  cursor: pointer;
  color: blue;
}

.card {
  position: absolute;
  top: 100px;
  left: 880px;
  width: 360px;
  height: 352px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000; /* Ensure it appears above other content */
}
