<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="swiper-container home-payment-slides swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide three-col swiper-slide-active" style="width: 310px; margin-right: 16px;">
                <div class="slide-section"> <a href="https://www.netmeds.com/offers/get-up-to-rs-300-paytm-cashback">
                        <img onerror="this.src='/assets/icons/img_placeholder.svg'" class="banner_img"
                            src="https://www.netmeds.com/images/cms/offers/1682856824_1676964790_paytm.png"
                            title="Get up to Rs. 300 Paytm Cashback!" alt="Get up to Rs. 300 Paytm Cashback!">
                        <div class="description-slide">
                            <h3 class="ellipsis">Get up to Rs. 300 Paytm Cashback!.. <p>Get Paytm Cashback of up to Rs.
                                    300 on a minimum purchase of ANY products* worth Rs. 300, when you p..</p>
                            </h3>
                        </div>
                    </a> </div>
            </div>
            <div class="swiper-slide three-col swiper-slide-next" style="width: 310px; margin-right: 16px;">
                <div class="slide-section"> <a href="https://www.netmeds.com/offers/twidpay-150-16X"> <img
                            onerror="this.src='/assets/icons/img_placeholder.svg'" class="banner_img"
                            src="https://www.netmeds.com/images/cms/offers/1701358289_1700543447_1688099691_pay-with-rewards.png"
                            title="Get assured Savings of up to Rs. 150* + Earn up to 16X rewards*"
                            alt="Get assured Savings of up to Rs. 150* + Earn up to 16X rewards*">
                        <div class="description-slide">
                             Get assured Savings of up to Rs. 150* + Earn up to 16X
                            rewards*.. 
                            <h3 class="ellipsis">
                                <p>ALL users get assured Savings of max. Rs. 150 on ONLY one transaction of min. Rs 999
                                    Up to 16X Rewar..</p>
                            </h3>
                        </div>
                    </a> </div>
            </div>
            <div class="swiper-slide three-col" style="width: 310px; margin-right: 16px;">
                <div class="slide-section"> <a
                        href="https://www.netmeds.com/offers/get-assured-savings-of-up-to-rs-200-earn-up-to-16x-rewards">
                        <img onerror="this.src='/assets/icons/img_placeholder.svg'" class="banner_img"
                            src="https://www.netmeds.com/images/cms/offers/1717173824_1701357034_1700543447_1688099691_pay-with-rewards.png"
                            title="Get assured Savings of up to Rs. 200* + Earn up to 16X rewards*"
                            alt="Get assured Savings of up to Rs. 200* + Earn up to 16X rewards*">
                        <div class="description-slide">
                            <h3 class="ellipsis">Get assured Savings of up to Rs. 200* + Earn up to 16X rewards*..
                                 <p>
                                    NEW users get assured Savings of max. Rs. 200 on ONLY one transaction of min. Rs 499
                                    Up to 16X Rewar..</p>
                            </h3>
                        </div>
                    </a> </div>
            </div>
            <div class="swiper-slide three-col" style="width: 310px; margin-right: 16px;">
                <div class="slide-section"> <a
                        href="https://www.netmeds.com/offers/get-up-to-rs-35-freecharge-upi-cashback"> <img
                            onerror="this.src='/assets/icons/img_placeholder.svg'" class="banner_img"
                            src="https://www.netmeds.com/images/cms/offers/1696004008_Free_Charge_ico_02.png"
                            title="Get up to Rs. 35 Freecharge UPI Cashback!"
                            alt="Get up to Rs. 35 Freecharge UPI Cashback!">
                        <div class="description-slide">
                            <h3 class="ellipsis">Get up to Rs. 35 Freecharge UPI Cashback!.. 
                                <p>Get Freecharge UPI
                                    Cashback of up to Rs. 35 on a minimum purchase of ANY products* worth Rs. 999, wh..
                                </p>
                            </h3>
                        </div>
                    </a> </div>
            </div>
        </div> <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</body>

</html>