#Home_Payment_Offer{
    /* border: 5px solid red !important; */
    margin-bottom: 32px !important;
    font-family: 'LatoBold';
    font-size: 24px;
    line-height: 32px;
    color: #0b1219;
}
#Home_Payment_Offer_Row{
    margin-bottom: 16px !important;
}
#viewall{
    text-decoration: none;
}
/* #Home_Payment_Offer_Col{
    margin-left: 18px !important;
    margin-right: 18px !important;
} */